/*Start Cnt__Left*/
.wrapper__ov{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.wrapper__container__left {
    height: 100%;
    background-color: #363740;
    width: 17.7%; 

}
.container__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    text-align: left;
}
.name{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 1rem;
    color: #A4A6B3;
    opacity: 0.7;
    font-weight: 700;
}
.form__img__ov__1{
    position:relative;
    right: 1.7rem;
}
.item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.item a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:left;
    text-align: left;
    font-weight: 400;
    background-color:#363740;
    color:#9FA2B4;

}
.item :hover {
    background-color: #9fa2b434;
    cursor: pointer;
    transition: All 0.5s ease-in-out;
}
.item :active {
    background-color: #fff;
    color: #000;
    transition: All 0.3s ease;
    opacity: 0.04;
}
.item__1 img, .item img{
    padding: 0 1.28rem;
}
.item__1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

}
.item__1 a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:left;
    text-align: left;
    font-weight: 400;
    background-color:#9fa2b43d;
    color:#9FA2B4;
}
.item__1 :hover {
    cursor: pointer;
    transition: All 0.5s ease-in-out;
}
.item__1 :active {
    background-color: #fff;
    color: #000;
    transition: All 0.3s ease;
    opacity: 0.08;
}
/*Stop Cnt__Left*/